@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 1px solid #000;
}

.contact {
  background-color: #fff;
  padding: 1rem;
}

input, textarea, select {
  border-color: #ccc;
}

.btn {
  background-color: #000;
  border: none;
  padding: .5em;
  border-radius: 10px;
}

@media only screen and (min-width: 60em) {

  html {
    background-color: #f2f2f2;
  }

}
